.footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 45px;
	padding: 35px 0 36px;
}

.pre-font {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

h2, h3 {
	padding: 0.5em 0em;
}

h2 a {
	color: black;
}


/* Projects Page */

.projects-page h3 {
	font-size: 2em;
	font-variant: small-caps;
	padding-bottom: 0;
}

@media (min-width: 768px) {
    .projects-page h3 {
        margin-left: 130px;
    }
}

.projects-page h3 img {
	height: 80%;
}

/* Hide sidebar on small screens */

@media (max-width: 720px) {
    .row-fluid .span9 {
        float: none;
        width: 100%;
    }

    .row-fluid .span3 {
        display: none;
    }
}
